<%= render "shared/header" %> 



  <%# 名刺一覧 %>
  <div class='card-contents'>
    <h2 class='title'>名刺一覧ページ</h2>
    <div class="subtitle" >
      シェアする名刺
    </div>
    <ul class='card-lists'>

      <% @cards.each do |card| %>
        <li class='list'>
          <%= link_to card_path(card.id) do %>
          <div class='card-img-content'>
            <%= image_tag card.image.variant(resize: '500x500'), class: "card-img" if card.image.attached?%>
          </div>

          <div class='card-info'>
            <h3 class='card-name'>
              <%= card.client_last_name + "さま" %>
            </h3>
            <div class='company-name'>
              <%= card.company_name %>
            </div>
          </div>
          <% end %>
        </li>
      <% end %>

    </ul>
  </div>
  <%# /名刺一覧 %>